<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>user data</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

	<form action="/userdata" method="POST">
        
            <label for="name"> name:</label>
            <input type="text" id="name" name="name"><br><br>
            <input type="submit" value="Submit">

    </form>
    <!-- <p>{{content}}</p> -->
  </body>

</html>